PORT=8080
DB_HOST=
DB_NAME=
DB_PORT=
DB_USER=
DB_PASSWORD=
JWT_SECRET=
NODE_ENV=development
BASE_URL=http://localhost:8080
FRONTEND_URL=http://localhost:3000
ENCRYPTION_KEY=
GOOGLE_ID_PEPPER=
FIREBASE_PROJECT_ID=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PRIVATE_KEY=""

GEMINI_API_KEY=""